.hello {
    color: pink;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: pink;
}

#plum {
    color: plum;
}

#blue {
    color: powderblue;
}

.task{
    margin-bottom: 15px;
}